html
head
title Register now
body
h1
form(method="POST" action="/auth/register")
  input(type="text" name="username" placeholder="Enter username")
  input(type="email" name="email" placeholder="example@mail.com")
  input(type="password" name="password" placeholder="Enter password")
  button(type="submit") Register